NOTEBOOK_JUN_PATH = data/jun-15-2026
NOTEBOOK_SEP_PATH = data/sep-11-2025
FIG_PATH = figs

MERGED_LISTINGS_PATH = data/merged_listings.parquet
CONCAT_LISTINGS_PATH = data/concat_listings.parquet
CONCAT_CALENDER_PATH = data/concat_calenders.parquet

DATA_PATH = data

PRED_PATH = data/hedonic_predictions.parquet
TUNE_PATH = data/temp.parquet

MODEL_PATH = models